.content{
    width: 90%;
    margin: auto;
}
.search-bar{
    background-color: #eeeeee;
    padding-bottom: 18px;
}

.footer-left{
    padding: 14px 1px;
    background-color: #7ee5da;
    width: 37%;
    float: left;
    margin-right: 2px;
}
.footer-middle{
    padding: 8px 1px;
    background-color: #70ccc2;
    width: 22%;
    font-size: 13px;
    float: left;
    margin-right: 2px;
}
.footer-right{
    padding: 2px 0px;
    background-color: #62b3aa;
    width: 40%;
    float: left;
    font-size: 13px;
}
.align-items-center{
    text-align: center;
}